img{
    max-width: 150px;
    width: 100%;
}

.bg-image{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}


.container1{
    background-color: #1a264f;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    .top {
        width: 50vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        flex-direction: column;
        h1{
            color: rgb(36, 208, 247);
            padding-right: 1rem;
            text-align: center;
            text-shadow: 2px 2px 8px #000000;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 580%;
            padding-top: 3%;
        }
        h2{
            padding-right: 1rem;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 8px #000000;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 200%;
        }
    }
    h3{
        padding-right: 1rem;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 8px #000000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 250%;
        padding-top: 5%;
    }
    .gameicons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 20px;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            border: 2px solid #1735e0;
        }
    }
    .join{
        padding-top: 7%;
        padding-bottom: 7%;
        .joinbtn{
            background-color: #f6c30c;
            border: 5px solid rgb(7, 145, 53);
            border-radius: 50px;
            color: black;
            padding: 10px 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 150%;
          }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #172246;
    color: white;
    text-align:left;
    padding: 20px 30px;
    font-family: 'Arial', sans-serif;
    .footerlogo{
        display: flex;
        justify-content: flex-start;
    }
    .flogo {
        height: 50px;
        width: auto;
    }
    .footer-text {
        flex: 1;
        margin-left: 20px;
    }
}

.container {
    border-radius: 7px;
}

.collapse{
    justify-content: space-between;
}

a{
    font-weight:500px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

