img{
    max-width: 150px;
    width: 100%;
}

.bg-image{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border-radius: 7px;
}

.collapse{
    justify-content: space-between;
}

a{
    font-weight:500px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}