*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    max-width: 150px;
    width: 100%;
}

.navbar{
    background-color: #292424;
}

.bg-image{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    .form-container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        .wrapper{
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 1rem;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            box-shadow: 4px 3px 4px #fff;
            h1{
                font-size: 3rem;
                color: white;
                padding: 2rem 1rem;
                position: relative;
            }
            h1::after{
                content: "";
                position: absolute;
                height: 5px;
                top: 100px;
                left: 20px;
                width: 18%;
                background: white;
            }
        }
        .form-section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem;
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: column;
            }
        }
        .form-details{
            li{
                display: flex;
                align-items: center;
                padding: 1rem;
                color: #fff;
                margin: 0.8rem 0;
            }
            strong{
                color: rgb(0, 170, 255);
            }
        }
        .form-group{
            position: relative;
            .form-control{
                width: 100%;
                outline: none;
                border: 1px solid #ddd;
                padding: 0.8rem;
                margin: 1rem 0;
                resize: none;
                border-radius: 5px;
                font-size: 1rem;
            }
            span{
                position: absolute;
                top: 0.8rem;
                left: 0;
                padding: 1rem;
                pointer-events: none;
                font-size: 0.8rem;
                color: #ddd;
                text-transform: uppercase;
                transition: 0.5s;
            }
            .form-group .form-control:valid ~ span,
            .form-group .form-control:focus ~ span{
                background: #292424;
                color: #fff;
                transform: translateX(10px) translateY(-10px);
                font-size: 0.8rem;
                padding: 0.10px;
            }
        }
        .button{
            outline: none;
            border: none;
            background: #172246;
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            margin: 1rem 0;
            cursor: pointer;
            transition: 0.4s;
        }
        .input-field{
            .button{
                outline: none;
                border: none;
                background: #172246;
                color: #fff;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                font-size: 1rem;
                margin: 1rem 0;
                cursor: pointer;
                transition: 0.4s;
            }
        }
   }
   
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #172246;
    color: white;
    text-align:left;
    padding: 20px 30px;
    font-family: 'Arial', sans-serif;
    .footerlogo{
        display: flex;
        justify-content: flex-start;
    }
    .flogo {
        height: 50px;
        width: auto;
    }
    .footer-text {
        flex: 1;
        margin-left: 20px;
    }
}






.container {
    border-radius: 7px;
}

.collapse{
    justify-content: space-between;
}

a{
    font-weight:500px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

